@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul li > a {
    position: relative;
    color: #000; 
    text-decoration: none; 
    transition: color 0.3s ease; 
  }
  
  nav ul li:hover > a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px; 
    width: calc(100% + 10px);
    height: 4px; 
    border-radius: 4px;
    background-color: #C56E33;
    transition: width 0.3s ease, bottom 0.3s ease, left 0.3s ease; 
  }
  
  /* Adjust color on hover */
  nav ul li:hover > a {
    color: #C56E33; /* Hover color */
  }